<br> <br>
<link rel="stylesheet" href="/css/index.css">
<div class="body-container">
    <h2 class="body-title subtitle" style="font-family: 'Akaya Kanadaka', cursive;">Check Your Coverage</h2>
    <br>
    <input type="text" class="body-input" placeholder="Type your city">
</div>
<div class="about"> <br> <br> <br>
    <h2 class="about-title subtitle">How to use Our Platform</h2> <br> <br>
    <p class="about-p"> Customer</p> <br> 
    <p class="about-info">
        It is very simple to use our platform. <a href="">Sign Up</a> and start ordering your favourite food online.
         Currently we are only using the collect system, so make sure to know if you will be able to collect before purchasing. 
    </p>
    <br> <br> <p class="about-p">Business</p> <br> 
     <p class="about-info">
         For a Business to join our platform, they need to follow our simple steps. There
         are about 2 simple steps you need to follow so that your business can be verified. <br> <br>
         Step 1: You need to register your business on our platform. <br>
         Step 2: You need to follow registration process so that your business can be verified.
         <br> <br>
         Verification process
         <li>Submit Clear Business photos to [email]</li> <br>
         That's all
    </p>
</div>