<br> <br>
<link rel="stylesheet" href="/css/businessreg.css">
<h1 class="business-title title">Business Registration</h1> <br> <br>
<div class="business">
    <spa class="span">Business Details</spa> <br> <br>
    <div class="business-holder-laptop">
        <div class="b-left">
            <label for="b-name">Business Name: </label>
        <br> <br>
        <label for="contact-details">Contact Details: </label>
        <br> <br>
        <label for="email">Email Address: </label>
       <br> <br>
       <label for="location">Location:</label>
        </div>
        <div class="b-right">
            <input type="text" id="b-name" name="business" class="b-name"> 
            <br> <br>
            <input type="text" name="contact" id="contact-details">
                <br> <br>
            <input type="email" name="email" id="email">
        <br> <br>
        <input type="text" name="location" id="location">
        </div>
    </div> <br> <br>
    <div class="btn-holder">
        <button class="btn bg-info">Register</button>
        <button class="btn bg-success">Login</button>
        
    </div>
</div>
<!--phone--->
    <div class="business-holder-phone">
        <label for="b-name">Business Name: </label> <input type="text" id="b-name" name="business" class="b-name"> 
        <br> <br>
        <label for="contact-details">Contact Details: </label> <input type="text" name="contact" id="contact-details">
        <br> <br>
        <label for="email">Email Address </label> <input type="email" name="email" id="email">
        <br> <br>
       <label for="location">Location:</label> <input type="text" name="location" id="location">
    </div>
    <!--phone-->