<br> <br>
<link rel="stylesheet" href="/css/shop.css">
<div class="shop-container">
    <h1 class="shop-title title">Shop</h1> <br> <br>
    <div class="boxlayout">
        {{#each data}}
            <div class="box">
                <img src="{{this.img}}" alt="{{this.shop}}"> <br> <br>
                <h4 class="h4-box">{{this.shop}}</h4> <br>
                <div class="buttons">
                    <p class="p-box">Ratings: {{this.ratings}}</p>
                  <a href="/menu/Gogo Spaza shop"><button class="btn bg-success short">View Menu</button></a>  
                </div>
                <br> <br>
            </div>
        {{/each}}
    </div>
</div>