.body-container {
    width: 100%;
    margin: 0;
    text-align: center;
}

.body-title {
    text-align: center;
}

.body-input {
    text-align: center;
    width: 30%;
}

.about {
    width: 80%;
    text-align: center;
    margin: auto;
}